.group-6 {
  align-items: flex-end;
  display: flex;
  height: 28px;
  left: 244px;
  min-width: 15px;
  position: absolute;
  top: 416px;
  transform: rotate(180deg);
}

.line-container-1 {
  height: 28px;
  margin-left: -4px;
  position: relative;
  width: 19px;
}

.line-30-1 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 18px;
}

.line-31-2 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 11px;
  transform: rotate(-180deg);
  width: 19px;
}

